.hash_input {
    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    border-radius: 10px;
    margin: 1px;
    padding: 1px;
    width: 50%;
    height: 300px;
    resize: none;
    outline: none;
    background-color: #ffffff;
}

.drop_down {
    margin-right: 37%;
    padding: 8px 20px;
    border-radius: 10px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid black;
}

.drop_down_file {
    padding: 8px 20px;
    border-radius: 10px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid black;
}

.HashInputComponent {
    margin-top: 5%;
}

.gen_button {
    display: inline-block;
    padding: 8px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #F2F2F2;
    border-radius: 10px;
    border: 1px solid black;
}

    .gen_button:active {
        background-color: #F2F2F2;
        transform: translateY(2px);
    }